body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

header{
    height: 15vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

header nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button{
    width: 5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    border-radius: 5px;
    background: transparent;
}

#content{
    height: 100%;
    width: 100%;
    position: relative;
}

.cust{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("./Assets3/bg.jpg") center / cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.cust div{
    width: 50%;
}

.heading{
    left: 0;
    position: fixed;
    display: flex;
    height: 100%;
    align-self: start;
    justify-content: center;
    align-items: center;
    /* background: white; */
}

.heading h2{
    opacity: 0;
    position: fixed;
    font-size: 2rem;
    transition: all 2s ease;
    transform: translateY(150px);
}

.heading h2.active{
    opacity: 1;
    transform: translate(0);
}

.reviews{
    display: grid;
    padding: 0 2rem;
    row-gap: 7rem;
    column-gap: 3rem;
    margin: 13rem 0;
    margin-left: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.rev{
    opacity: 0;
    padding: 2rem;
    border: 1px solid;
    position: relative;
    color: white;
    border-radius: 10px;
    transition: all 1.5s ease;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transform: translateY(200px);
    transition-delay: calc(var(--r) * 0.5s);
}

.rev.active{
    opacity: 1;
    transform: translate(0);
}

.rev.hidden{
    opacity: 0;
    transform: translateY(200px);
}

.rev::before{
    content: '';
    right: -10%;
    top: -12%;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
}

.rev:nth-of-type(even)::before{
    background: url("./Assets3/one.jpg") center / cover;
}

.rev:nth-of-type(odd)::before{
    background: url("./Assets3/two.jpg") center / cover;
}

.stars{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stars i{
    display: inline-block;
    margin: 0 2px;
    color: yellow;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    margin-top: auto;
    background-color: #00aaee80;
}

.footer p{
    margin: 0.5rem;
}
